html,
body {
  margin: 0; /* Elimina el margen por defecto */
  height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
  overflow: hidden; /* Evita barras de desplazamiento */
}

.background-image {
  position: absolute; /* Posiciona la imagen en relaci칩n a la ventana del navegador */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que la imagen tenga el ancho total de la ventana */
  object-fit: cover; /* Ajusta el tama침o de la imagen para cubrir el 치rea sin distorsi칩n */
}
