html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding-bottom: 100px; /* Espacio suficiente para el footer */
  box-sizing: border-box;
}

footer {
  background-color: #6673e1;
  display: flex;
  z-index: 1000;
  margin: 0px 0px;
  overflow: hidden; 
  flex-direction: row;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header {
  /* Define el encabezado como un contenedor flexible */
  display: flex;
  /* Distribuye el espacio entre los elementos secundarios */
  justify-content: space-between;
  /* Añade un relleno de 10px alrededor del contenido */
  /* Centra los elementos a lo largo del eje transversal */
  align-items: center;
  /* Establece el color de fondo del encabezado */
  background-color: #6673e1;
  height: 100px;
}

header img {
  height: 80%;
}

a {
  /* Añade un margen de 10px alrededor de los enlaces */
  margin: 10px;
}

.indice {
  justify-content: end;
}

body {
  margin: 0;
  margin-bottom: 100px;
}

header > ul {
  /* Define la lista dentro del encabezado como un contenedor flexible */
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  /* Establece el tamaño de la fuente a 18px */
  font-size: 18px;
  /* Elimina el estilo de lista predeterminado */
  list-style-type: none;
  /* Elimina la subrayado predeterminado */
  text-decoration: none;
  /* Establece el color del texto en negro */
  color: white;
}

header li a:hover {
  /* Cambia el color del texto a rojo al pasar el cursor */
  color: red;
  /* Subraya el texto al pasar el cursor */
  text-decoration: underline;
}

header a {
  padding: 3px;
  color: white;
  text-decoration: none;
}

footer img {
  width: 30px;
  height: 30px;
}

#copyright {
  margin: 0 10px;
  display: grid;
  place-items: center;
}

#contact {
  margin: 0 50px;
  display: grid;
  place-items: center;
}

#social {
  /* Alinea el contenido al final del contenedor */
  justify-content: end;
  /* Define la sección de redes sociales como un contenedor flexible */
  display: flex;
  /* Permite que la sección crezca para llenar el espacio disponible */
  flex-grow: 1;
}

#social a {
  /* Define los enlaces en la sección de redes sociales como contenedores flexibles */
  display: flex;
  /* Establece la dirección del eje principal en columna */
  flex-direction: column;
  /* Centra los elementos a lo largo del eje transversal */
  align-items: center;
  /* Centra los elementos a lo largo del eje principal */
  justify-content: center;
  /* Establece el color del texto en blanco */
  color: white;
}

#social p {
  margin: 0;
  font-size: 15px;
}

.datosPersonales {
  width: 70%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 300px;
  font-size: 30px;
}

.headerTabla {
  background-color: #6673e1;
  color: white;
}

td {
  padding: 8px;
  text-align: center;
  border: 1px solid #000000;
  font-size: 30px;
}

th {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

tr:nth-child(even) {
  background-color: white;
  color: black;
}

tr:nth-child(odd) {
  background-color: #c5c9f3;
  color: black;
}

.tituloSeccion {
  margin-left: 50px;
  font-size: 40px;
}

.mascota {
  margin-top: 0;  /* Elimina el margen superior */
  height: 400px;
  margin-left: 0px;
  border-radius: 100px;
  border: #000000 3px solid;
}

.seleccionMascota {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between;
  padding: 0 50px;
}

.datosMascota {
  border-collapse: collapse;
  width: 700px;
  margin-bottom: 100px;
  margin-top: -30px; /* Elimina márgenes */
}

.header-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el select con el título */
  gap: 15px; /* Espacio entre el título y la barra desplegable */
}

.form-select {
  height: 50px;
  width: 500px;
  border: #000000 3px solid;
  border-radius: 50px;
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  appearance: none; /* Remueve la flecha predeterminada */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("https://cdn.icon-icons.com/icons2/1673/PNG/512/arrowiosdownwardoutline_110713.png")
    no-repeat right center;
  background-size: 50px; /* Tamaño de la flecha */
  background-position: right 30px center;
}

.datosMascota {
  border-collapse: collapse;
  display: flexbox;
  height: auto;
  width: 700px;
  margin-top: 110px;
  margin-left: -600px;
}

span {
  color: #7d5ba6;
}