html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding-bottom: 120px; /* Espacio suficiente para el footer */
  box-sizing: border-box;
  background: linear-gradient(to bottom, #064469, #54859a);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155274;
  height: 100px;
}

header img {
  height: 80%;
  margin-left: 20px;
}

a {
  margin: 10px;
}

header > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  color: white;
}

header li a:hover {
  color: red;
  text-decoration: underline;
}

header a {
  padding: 3px;
  color: white;
  text-decoration: none;
}

#copyright {
  margin: 0 10px;
  display: grid;
  place-items: center;
}

#contact {
  margin: 0 50px;
  display: grid;
  place-items: center;
}

#social {
  justify-content: end;
  display: flex;
  flex-grow: 1;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#social p {
  margin: 0;
  font-size: 15px;
}

h1 {
  margin-top: 5px;
}

.datosPersonales {
  width: 70%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 30px;
  margin: 0 auto;
}

.headerTabla {
  background-color: #064469;
  color: white;
  text-align: center;
}

td {
  padding: 8px;
  text-align: center;
  border: 1px solid #000000;
  font-size: 30px;
}

th {
  border: 1px solid #000000;
  padding: 8px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

tr:nth-child(even) {
  background-color: #84b9cf;
  color: black;
}

tr:nth-child(odd) {
  background-color: #3d728c;
  color: black;
}

.tituloSeccion {
  margin-left: 50px;
  font-size: 40px;
  color: white;
}

.contenidoIzq {
  text-align: center;
}

.infoMascota {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 20px;
}

.mascota-img-container {
  width: 50%;
  margin-right: 20px;
}

.datosMascotaSection {
  display: flex;
}

.mascota {
  width: 50%;
  border-radius: 50px;
  margin-left: 50px;
  border: 3px solid black;
}

.mascotas-datos-container {
  display: flex;
}

/* Footer */
footer {
  background: linear-gradient(to bottom, #74aabf, #74aabf, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 0 20px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact a {
  text-decoration: none;
  color: black;
  margin: 0;
}

#contact p {
  color: #000;
}

.fotoFooter {
  height: 100px; /* Ajusta la altura de la imagen si es necesario */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que la imagen se trate como un bloque */
}

#social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Espacio entre los logos */
}

.logos {
  transition: transform 0.3s ease;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.logos:hover {
  transform: scale(1.5);
}
