html {
  min-height: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07456a;
  height: 100px;
}

header img {
  height: 80%;
}

a {
  margin: 10px;
}

.indice {
  justify-content: end;
}

header > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

header li a:hover {
  color: lightblue;
  text-decoration: underline;
}

header a {
  padding: 3px;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #064469, #54859a);
}

footer {
  background: linear-gradient(to bottom, #74aabf, #74aabf, white);
  justify-content: space-between; /* Distribuye los elementos en 3 columnas: izquierda, centro, derecha */
  display: flex;
  overflow: hidden;
  flex-direction: row;
  color: white;
  position: relative; /* Cambiado de absolute a relative */
  bottom: 0;
  width: 100%;
  height: 120px;
  margin-top: 20px; /* Añade espacio entre la tabla y el footer */
}

.logos {
  transition: transform 0.3s ease;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

/* Efecto zoom en hover */
.logos:hover {
  transform: scale(1.5);
}

#contact a {
  text-decoration: none;
  color: black;
  margin: 0;
}

/* Sección de redes sociales a la derecha */
#social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

#contact p {
  color: #000;
}

.titulo {
  display: flex;
  justify-content: center; /* Centra el título horizontalmente */
  align-items: center;
  margin: 20px;
  color: white;
  position: relative; /* Permite el posicionamiento absoluto de los elementos secundarios */
}

.titulo h1 {
  margin: 0; /* Elimina el margen por defecto del h1 */
  text-align: center; /* Centra el texto dentro del h1 */
}

.titulo .add {
  margin-top: 10px;
  position: absolute; /* Posiciona la imagen respecto al contenedor .titulo */
  right: 20px; /* Ajusta el valor según sea necesario para la separación del borde derecho */
  top: 50%; /* Centra verticalmente la imagen */
  transform: translateY(
    -50%
  ); /* Ajusta la imagen para que esté verticalmente centrada */
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.titulo .add:hover {
  transform: translateY(-50%) scale(1.5); /* Mantiene la posición centrada y aumenta el tamaño al pasar el cursor */
}

.botones {
  width: fit-content;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

/* Nuevas reglas para el encabezado de la tabla */
.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Si también quieres centrar verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  margin-top: 20px; /* Añade un margen superior si es necesario */
  margin-bottom: 20px; /* Añade un margen inferior entre la tabla y el footer */
}

.table {
  border-collapse: collapse;
  width: 80%; /* Permite que la tabla se ajuste a su contenido */
}

.table th {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: #155274;
  color: white;
}

.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

/* Estilos para filas impares */
.table tr:nth-child(odd) {
  background-color: green; /* Color gris claro para filas impares */
}

/* Estilos para filas pares */
.table tr:nth-child(even) {
  background-color: #ffffff; /* Color blanco para filas pares */
}

.table .btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.table .btn-edit {
  background-color: #4caf50; /* Verde */
  text-decoration: none;
}

.table .btn-edit:hover {
  background-color: #45a049;
  transform: scale(1.2);
}

.table .btn-delete {
  background-color: #f44336; /* Rojo */
  text-decoration: none;
}

.table .btn-delete:hover {
  background-color: #da190b;
  transform: scale(1.2);
}
