html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegúrate de que sea 100vh */
  margin: 0;
  background-color: #9acdfe;
}

main {
  flex: 1; /* Hace que main ocupe el espacio disponible */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido de main */
  height: auto;
  /* Asegúrate de que el contenido principal no se solape con el footer */
}

#cuadro {
  background-color: #6673e1;
  color: white;
  width: 40%;
  height: auto; /* Ajusta la altura según el contenido */
  border-radius: 10px;
  /* Centrando el cuadro en la página */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Agrega espacio interno */
}

footer {
  background-color: #6673e1;
  display: flex;
  flex-direction: row;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img {
  width: 30px;
  height: 30px;
}

#copyright,
#contact {
  display: grid;
  place-items: center;
}

#contact {
  margin: 0 50px;
}

#social {
  justify-content: end;
  display: flex;
  flex-grow: 1;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#social p {
  margin: 0;
  font-size: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6673e1;
  height: 100px;
}

header img {
  height: 80%;
}

a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

header > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  color: white;
}

header li a:hover {
  color: red;
  text-decoration: underline;
}

header a {
  padding: 3px;
}

form {
  margin: 0 20px 10px;
}

#cuadro h1 {
  margin: 0 10px;
  text-align: center;
}
