html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: linear-gradient(to bottom, #064469, #5790ab, #74aabf);
}

main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap; /* Asegura que los elementos dentro se ajusten adecuadamente */
}

form {
  background: radial-gradient(circle, #74aabf, #5790ab, #064469);
  padding: 3em;
  height: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

footer {
  background: linear-gradient(to bottom, #74aabf, #74aabf, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 20px 50px;
  position: relative; /* Hace que el footer quede bajo el contenido, pero no se superponga */
  bottom: 0;
}

form p {
  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
}

form a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.botones {
  background-color: #6096ae;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155274;
  height: 100px;
}

header img {
  height: 80%;
  margin-left: 10px;
}

a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

header > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  color: white;
}

header li a:hover {
  color: red;
  text-decoration: underline;
}

header a {
  padding: 3px;
}

/* Estilos para la sección de contacto a la izquierda */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contact p {
  margin: 5px 0;
  color: black;
}

/* Centrar la imagen en el footer */
.fotoFooter {
  margin: 0 auto;
  border-radius: 50%;
  height: 150px;
}

/* Sección de redes sociales a la derecha */
#social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact a {
  text-decoration: none;
  color: black;
  margin: 0;
}

.logos {
  transition: transform 0.3s ease;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

/* Efecto zoom en hover */
.logos:hover {
  transform: scale(1.5);
}

#imagen {
  bottom: 0;
  margin-top: 30px;
}

.titulo {
  font-size: 30px;
}

.btn btn-outline-info {
  color: #064469;
}

.form-control {
  margin: 5px;
}

.logos {
  transition: transform 0.3s ease; /* Transición suave para el zoom */
  border-radius: 10px;
}

/* Efecto de zoom al pasar el ratón */
.logos:hover {
  transform: scale(1.5);
}
