<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles_add_mascota.css" />
  </head>
  <body>
    <header>
      <img src="/images/Logo2.png" alt="Logo" />

      <ul>
        <li><a href="register">Registrarse</a></li>
        <li><a href="home">Inicio</a></li>
      </ul>
    </header>

    <main>
      <div id="cuadro">
        <h1>Modificar Mascota</h1>
        <form
          th:object="${mascota}"
          th:action="@{/mascotas/modificar/{id}(id=${mascota.id})}"
          method="post"
          id="formAgregarMascota"
        >
          <div class="row">
            <div class="col">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                th:field="*{nombre}"
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Ingresa el nombre de la mascota"
                required
              />
            </div>

            <div class="col">
              <label for="raza" class="form-label">Raza</label>
              <input
                th:field="*{raza}"
                type="text"
                class="form-control"
                id="raza"
                placeholder="Ingresa la raza de la mascota"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="edad" class="form-label">Edad</label>
              <input
                th:field="*{edad}"
                type="number"
                class="form-control"
                id="edad"
                placeholder="Ingresa la edad de la mascota"
                required
              />
            </div>

            <div class="col">
              <label for="peso" class="form-label">Peso</label>
              <input
                th:field="*{peso}"
                type="number"
                class="form-control"
                id="peso"
                placeholder="Ingresa el peso de la mascota"
                required
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input
              th:field="*{fotoURL}"
              type="text"
              class="form-control"
              id="foto"
              placeholder="Ingresa la url de la imagen de la mascota"
              required
            />
          </div>

          <button class="btn btn-success" type="submit" id="btnAgregarMascota">
            Agregar
          </button>
        </form>
      </div>

      <div id="imagen">
        <img src="/images/perro_addmasc.png" alt="perro" height="500px" />
      </div>
    </main>

    <footer>
      <div id="copyright">
        <p>Copyright &copy; 2024</p>
        <p>All rights reserved</p>
      </div>
      <div id="contact">
        <p>Contáctanos</p>
        <p>+57 301 123 4567</p>
        <p>dogdog@gmail.com</p>
      </div>
      <div id="social">
        <a href="https://www.facebook.com" target="_blank">
          <img
            src="/images/facebook (1).png"
            height="25px"
            alt="LogoFacebook"
            class="logos"
          />
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="/images/logotipo-de-instagram.png"
            height="25px"
            alt="LogoInstagram"
            class="logos"
          />
        </a>
        <a href="https://x.com/home" target="_blank">
          <img
            src="/images/twitter.png"
            height="25px"
            alt="LogoX"
            class="logos"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
