<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles_veterinario.css" />
  </head>
  <body>
    <header>
      <img src="../images/LogoFin.png" alt="Logo" />
      <ul>
        <li>
          <a th:href="@{/mascotas/ver(veterinarioId=${veterinarioId})}"
            >Inicio</a
          >
        </li>
      </ul>
    </header>

    <main>
      <div class="titulo">
        <h1>Mascotas</h1>
        <a
          type="button"
          th:href="@{/mascotas/agregar(veterinarioId=${veterinarioId})}"
        >
          <img src="../images/add2.png" alt="Add" height="60px" class="add" />
        </a>
      </div>

      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Raza</th>
              <th>Edad</th>
              <th>Peso</th>
              <th>Enfermedad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="mascota : ${mascotas}">
              <td>
                <img
                  th:src="${mascota.fotoURL}"
                  alt="Mascota"
                  style="width: 80px; height: 60px"
                />
              </td>
              <td th:text="${mascota.nombre}"></td>
              <td th:text="${mascota.raza}"></td>
              <td th:text="${mascota.edad}"></td>
              <td th:text="${mascota.peso}"></td>
              <td th:text="${mascota.enfermedad}"></td>
              <td>
                <a href="#" class="btn btn-edit"><img src="../images/editar.png" alt="Editar" height="20px" width="20px"></a>
                <a href="#" class="btn btn-delete"><img src="../images/eliminar.png" alt="Eliminar" height="20px" width="20px"></a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer id="footer">
      <div id="contact">
        <p>Contáctanos:</p>
        <a href="https://accounts.google.com/" target="_blank">
          <p>dogdog@gmail.com</p>
        </a>

        <a href="https://web.whatsapp.com/" target="_blank">
          <p>+57 301 123 4567</p>
        </a>
      </div>
      <img src="../images/fotoFooter-removebg-preview.png" alt="foto" class="fotoFooter">

      <div id="social">
        <a href="https://www.facebook.com" target="_blank">
          <img
            src="../images/facebook-fb-social-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoFacebook"
            class="logos"
          />
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="../images/instagram-socials-social-media-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoInstagram"
            class="logos"
          />
        </a>
        <a href="https://web.whatsapp.com/" target="_blank">
          <img
            src="../images/whats-app-whatsapp-whatsapp-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoWhatsApp"
            class="logos"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
