<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles_vet_home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header">
      <img src="../images/LogoFin.png" alt="Logo" />
      <ul>
        <li><a href="http://localhost:8080/dogdog/login">Cerrar sesión</a></li>
      </ul>
    </header>

    <main class="main">
      <section class="testimonials" id="vet">
        <h1 th:text="${veterinario.nombre}" class="titulo" id="nombreVet"></h1>

        <h3 class="titulo">Escoja una de las siguientes opciones:</h3>
        <div class="textSecComents"></div>

        <div class="testimonial-box-container row">
          <!-- Formulario oculto para Ver Mascotas -->
          <form
            th:action="@{/mascotas/ver}"
            method="post"
            style="display: none"
            id="formVerMascotas"
          >
            <input
              type="hidden"
              name="veterinarioId"
              th:value="${veterinario.id}"
            />
          </form>
          <!-- Card de Ver Mascotas -->
          <div
            class="col"
            onclick="document.getElementById('formVerMascotas').submit();"
          >
            <div class="testimonial-box">
              <div class="box-top">
                <div class="profile">
                  <div class="name-user">
                    <strong>Ver Mascotas</strong>
                  </div>
                </div>
              </div>
              <div class="client-comment">
                <p>
                  Acá puedes ver los perros que se tienen registrados dentro de
                  nuestra veterinaria.
                </p>
              </div>
            </div>
          </div>

          <a
            th:href="@{/clientes/ver(veterinarioId=${veterinario.id})}"
            class="col"
          >
            <div class="testimonial-box">
              <div class="box-top">
                <div class="profile">
                  <div class="name-user">
                    <strong>Ver Clientes</strong>
                  </div>
                </div>
              </div>

              <div class="client-comment">
                <p>
                  Acá puedes ver los clientes que se tienen registrados dentro
                  de nuestra veterinaria.
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="col">
            <div class="testimonial-box">
              <div class="box-top">
                <div class="profile">
                  <div class="name-user">
                    <strong class="registrados">Reg Tratamientos</strong>
                  </div>
                </div>
              </div>

              <div class="client-comment">
                <p>Acá puedes registrar el tratamiento dado a una mascota.</p>
              </div>
            </div>
          </a>
        </div>
      </section>
    </main>

    <footer>
      <div id="contact">
        <p>Contáctanos</p>
        <a href="https://web.whatsapp.com/" target="_blank">
          <p>+57 301 123 4567</p>
        </a>
        <a href="https://accounts.google.com/">
          <p>dogdog@gmail.com</p>
        </a>
      </div>

      <img
        src="../images/fotoFooter-removebg-preview.png"
        alt="foto"
        class="fotoFooter"
      />
      <div id="social">
        <a href="https://www.facebook.com" target="_blank">
          <img
            src="../images/facebook-fb-social-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoFacebook"
            class="logos"
          />
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="../images/instagram-socials-social-media-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoInstagram"
            class="logos"
          />
        </a>
        <a href="https://web.whatsapp.com/" target="_blank">
          <img
            src="../images/whats-app-whatsapp-whatsapp-icon-svgrepo-com.svg"
            height="25px"
            alt="LogoX"
            class="logos"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
